[Unit]
Description=RFCOMM service
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/bin/rfcomm watch hci0 1 setsid agetty rfcomm0 vt100

[Install]
WantedBy=multi-user.target
